<div class="row">
  <h2 class="span12"><%= dat_render(@parsed['name']) %></h1>

  <div class="span8"><%= dat_render(@parsed['bio']) %></div>

  <div class="tweets span4">
    <div class="well">  
      <h3><a href="http://www.twitter.com/<%= @band.twitter_user %>">Twitter</a></h3>
      <% @tweets.each do |tweet| %>
      <div>
        <p><%= dat_render(tweet['text']) %></p>
      </div>
      <% end %>
    </div>
    <img src="<%= @parsed['cover']['source']%>">
  </div>

</div>